<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>svk_translation</name>
            <displayName><![CDATA[Slovensk&yacute; preklad DB]]></displayName>
            <version><![CDATA[1.1]]></version>
            <description><![CDATA[Tento modul preklad&aacute; datab&aacute;zov&eacute; položky do Slovensk&eacute;ho jazkyka]]></description>
            <author><![CDATA[Otakar Weis]]></author>
            <tab><![CDATA[others]]></tab>
            <is_configurable>0</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>