<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>statsbestsuppliers</name>
            <displayName><![CDATA[Najlep&scaron;&iacute; dod&aacute;vatelia]]></displayName>
            <version><![CDATA[1]]></version>
            <description><![CDATA[Zoznam najlep&scaron;&iacute;ch dod&aacute;vateľov]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[analytics_stats]]></tab>
            <is_configurable>0</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>