<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>graphgooglechart</name>
            <displayName><![CDATA[Google Chart]]></displayName>
            <version><![CDATA[1]]></version>
            <description><![CDATA[Google Chart je rozhranie (API) ktor&eacute; umožňuje dynamicky generovať tabuľky.]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[administration]]></tab>
            <is_configurable>0</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>