<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>blockmultiletter</name>
            <displayName><![CDATA[Multishop Newsletter hook bottom]]></displayName>
            <version><![CDATA[1.0]]></version>
            <description><![CDATA[Adds a block for newsletter subscription to footer.]]></description>
            <author><![CDATA[eshopthemes]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>0</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>