@font-face {
	font-family: 'helvetica-light';
	src: url('../css/fonts/helvetica_lt_45_light.eot');
	src: local('☺'), url('../css/fonts/helvetica_lt_45_light.woff') format('woff'), 
	url('../css/fonts/helvetica_lt_45_light.ttf') format('truetype'), 
	url('../css/fonts/helvetica_lt_45_light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}





html, body {
    height: 100%; !important
	font-weight: 200
}

.footer h4, .footer h4 a{
	font-faimily: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight:200;
	padding: 20px 0;
	margin: 0px 0 20px 0;
	text-transform: uppercase;
	background: url("img/spirite.png") no-repeat scroll -277px 56px transparent;
	font-size: 17.5px !important;
	}
	

.header{
	padding: 20px 0 20px 0;
	font-weight: 200;
	}
	
.header .nav{
	font-size: 1em;
	margin-top: 4px;
	margin-bottom:0px !important;
	}
	
.footer-back{
	color: #727174 !important;
	}
		
.copyright{
	background-color:#ededed;
	font-size:0.75em;
	padding: 20px 0 20px 0;
	color: 727174#;
	}
	
.scrollup {
	width: 40px;
	height: 40px;
	opacity: 0.3;
	position: fixed;
	bottom: 0;
	right: 20px;
	display: none;
	line-height: 40px;
	text-align: center;
	background: #666;
	color: #FFF;
}

.nice-colums{
	font-weight: 200;
	}
	
#footer .newsletter-bottom .input-append input.button_mini {
	top: 0;
	right: 0;
	z-index: 3;
	width: 30px;
	height: 30px;
	padding: 0;
	margin: 0;
	background: url("img/arrowright.png") no-repeat scroll 12px 10px transparent;
	text-indent: -300px;
	overflow: hidden;
	border-radius: 0px !important;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #727174;
	border-right-color: #727174;
	border-bottom-color: #727174;
	border-left-color: #727174;
}

.newsletter-bottom{
	font-weight: 200;
	}
	
.footer-copyright{
	margin-right: 28%;
	padding: 0 10px;
	}
	
.fb-icon{
	display: block;
	width: 26px;
	height: 26px;
	background:url(img/spirite.png) no-repeat -27px 0;
	float:left;
	margin-top: -2px;
	margin-right: 10px;
	}
	
.tw-icon{
	display: block;
	width: 26px;
	height: 26px;
	background:url(img/spirite.png) no-repeat 0 0;
	float:left;
	margin-top: -2px;
	margin-right: 10px;
	
	}


.breadcrumb {
	background-color: transparent;
	color: white;
}
.sub-page-wrapper{
	background-image: url(../../../modules/layerslider/img/slider_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

.produkt-detail h2{
	/*font-family: helvetica-light !important;*/
	font-weight:100;
	color: #e5373e;
	font-size: 2.5em;
	margin-top: 0px;
	padding-top:0px;
	letter-spacing:1px;
	}
	
.produkt-detail p{
	color: white;
	font-weight:100;
	letter-spacing:1px;
	}